{% extends "../base.html" %}

{% block content %}
<h1>Профіль {{ user.username }}</h1>
    <div class="row row-cols-1 row-cols-md-3">
        {% for book in books_list %}
        <div class="col mb-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ book.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ book.author }}</h6>
                    <a href="/book/{{ book.id }}" class="card-link">Відкрити</a>
                </div>
            </div>
        </div>
        {% empty %}
            <p>В списку поки що немає книг!</p>
        {% endfor %}
    </div>
{% endblock %}